:root {
    --font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Poppins', sans-serif;
    --primary-color: #EC7969;
    --secondary-color: #000000;
    --perk1: #D34848;
    --perk2: #1FE1E9;
    --perk3: #FFB33F;
    --review-section: #1FE1E9;
    --app-color: #D34848;
    --color-blue: blue;
}

* {
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6, a, p, span {
    color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--background-color);
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

button, a {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block !important;
}